
/* ------------- BANNER ------------- */
#banner:after, body.landing #footer, .container-full-height {
     /* background-image: url("../images/background/grey_4.png");
    background-repeat: repeat; */
    background-color: black;
}

#banner h2:before, #banner h2:after {
        height: 1px; 
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.288), 
                0 6px 30px 5px rgba(0,0,0,0.12), 
                0 8px 10px -7px rgba(0,0,0,0.2);
}
#banner h2 {
    font-family:'Raleway', sans-serif;
}

#banner, body.is-mobile.landing #banner {
 background-image: url("../images/banner_2.jpg")!important;
background-repeat: no-repeat;
  background-size: cover;
}


/* ------------- Wrappers / Spotlight ------------- */

.wrapper.style2, .spotlight, .wrapper.style {
    background-image: url("../images/background/grey_2.png");
   background-repeat: repeat;
}

.wrapper.style1 {
     background-image: url("../images/background/grey_2.png");
    background-repeat: repeat;
           box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.288), 
                       0 6px 30px 5px rgba(0,0,0,0.12), 
                       0 8px 10px -7px rgba(0,0,0,0.2);
}

.wrapper > .inner {
    width: 70em; 
}

.wrapper.style1 {
    color: white; 
}

.spotlight {
   line-height: 0;
        margin: 20px 80px;
}

#shadow-1:hover{
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.288), 
                0 6px 30px 5px rgba(0,0,0,0.12), 
                0 8px 10px -7px rgba(0,0,0,0.2);           
}

.spotlight .content {
       max-width: 100%;
         padding: 2em 0em 0.1em 0em;
    /* margin-right: 4em; */
}

.spotlight:hover {
    box-shadow: 0px 5px 16px 5px black inset; 
       padding: 16px;
}

a {
    border-bottom: none;
}

.left { 
    border-left: 4px double black;
}

.right {
    border-right: 4px double black; 
}

.right:hover, .left:hover {
 border: none;
}

.wrapper {
    margin: 8.5em 0; 
}

#one, #skills{
    padding: 1em 0 1em 0;
     margin: auto;
   position: absolute;
        top: 50%;
  transform: translateY(-50%);
}

.container-full-height{ 
    min-height: 100vh; 
      position: relative;
      overflow-y: auto;
      overflow-x: hidden;
}

/* #two .spotlight .content {
    padding: 0;
     margin: 0;
} */
#two .spotlight .content p {
         /* margin: 0 3em; */
    line-height: 1.5; 
    font-family: Arial, Helvetica, sans-serif; 
          color: grey; 
     text-align: left; 
  
}

#two { /* */
       margin-top: 6em;
    margin-bottom: 6em; 
          padding: 6vh 0 6vh 0;
}

/* ------------- Main Containers  ------------- */

body.landing #page-wrapper {
         /* background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../images/background/grey_4.png"); */
         background-color: black; 
    background-attachment: fixed;
      background-position: center;
        background-repeat: no-repeat;
          background-size: cover;
              padding-top: 0;
}

body {
    background-color: black; 
    /* background-image: url("../images/background/grey_4.png"); */
    background-repeat: repeat;
}

footer, #header a {
     background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../images/background/grey_4.png");
    background-repeat: repeat;
                width: 100%;
}

footer {
    margin-top: 6em; 
}

/* ------------- Typography  ------------- */

body{
    font-family:'Raleway', sans-serif;
}

#header nav {
    margin-right: 90px; 
     font-family:'Raleway', sans-serif;
}

#header h1 {
    left: 0; 
}

#header h1 a {
    padding-left: 80px;
            left: 0;
     font-family:'Raleway', sans-serif;
}
#portfolio h1, .section-header h1 {
    text-shadow: 1px 1px 1px #000000;
          color: black;
    font-weight: bold;
}

#two h2, .contact-details {
     border-bottom: 1px solid #229aa9; 
    padding-bottom: .5em; 
            margin: 20px;
       font-weight: bold;
             color: grey;
         font-size: 1.5em; 
        text-align: left; 
    letter-spacing: 1px; 
       text-shadow: 1px 1px 1px #000000;
}
.contact-details {
    margin-left: 0!important; 
    padding-bottom: 0!important; 
    font-size: 1.2em!important; 
}

.style1 p {
    text-align: left; 
         color: grey;
     font-size: .8em;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.5em; 
  padding-left: .8em;
 padding-right: .8em;
}

.nav-tags, h1 a {
    color: #229aa9; 
} 

.fa-github {
    color: #229aa9; 
}

/* ------------- Media  ------------- */
#profile-image {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.288), 
                0 6px 30px 5px rgba(0,0,0,0.12), 
                0 8px 10px -7px rgba(0,0,0,0.2);
                -ms-transform: rotate(45deg); /* IE 9 */
                -webkit-transform: rotate(45deg); /* Safari */
                transform: rotate(45deg);
         width: 18em;
        margin: 0 auto; 
  margin-right: 3em;
   margin-left: 1em;
}

#myVideo { 
    height: auto;
     width: 88%; 
}

#myVideo, .spotlight .image img {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.288), 
                0 6px 30px 5px rgba(0,0,0,0.12), 
                0 8px 10px -7px rgba(0,0,0,0.2);
}

/* ------------- Contact Section  ------------- */

#contact {
            max-width: 800px; 
           width: 100%; 
               margin: 0 auto;  
     background-image: url("../images/background/grey_2.png"); 
   background-repeat: repeat;
             padding: 20px; 
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.288), 
                      0 6px 30px 5px rgba(0,0,0,0.12), 
                      0 8px 10px -7px rgba(0,0,0,0.2); 
}

input[type="text"], input[type="password"], input[type="email"], select, textarea  {
     background-image: url("../images/background/grey_2.png");
    background-repeat: repeat;
              padding: 4px;
     background-color: transparent; 
        border-bottom: 1px solid black; 
}

input[type="submit"].primary, input[type="reset"].primary, input[type="button"].primary, button.primary, .button.primary {
         font-family:'Raleway', sans-serif;
    background-color: black;
               color: white; 
       border-radius: 0; 
          margin-top: 14px; 
}

input[type="text"], input[type="password"], input[type="email"], select, textarea {
      margin-bottom: 2em; 
        font-family: 'Raleway', sans-serif;
        font-weight: bolder; 
              color: white;
}

input[type="submit"].primary:hover, .button.primary:hover {
    background-color: white; 
               color: black; 
}

/* ------------- About Me Section  ------------- */
#about-me {
         margin: 0 auto; 
        display: flex; 
    align-items: top; 
}

#about-me {
    padding-bottom: .4em; 
     border-bottom: 4px double black; 
       padding-top: 2.2em; 
             color: #229aa9;
        text-align: left; 
}

#no-box:hover {
    border: none !important;
    box-shadow: none !important;
    padding: 0;
}


/* ------------- Section Header ------------- */
#portfolio, .section-header { 
            margin: 0 auto; 
       text-shadow: 1px 1px 1px #000000;
       max-width: 26em; 
       width: 100%; 
     border-bottom: 4px double black; 
        border-top: 4px double black; 
       padding-top: 1em; 
    padding-bottom: 0; 
     margin-bottom: 6vh; 
        text-align: center; 
         font-size: 1.5em;
}
.section-header {
    margin-bottom: 0!important; 
}

/* ------------- Skills Section ------------- */
#skills {
     background-image: url("../images/background/grey_2.png");
    background-repeat: repeat;
          padding-top: 6vh; 
}

.details {
    color: grey;
    text-shadow: 2px 2px 4px #000000;
}

/* ------------- Media Screen ------------- */

@media screen and (max-width: 980px) {
    .wrapper.style1, .spotlight:hover {
        box-shadow: none !important; 
         padding: 0 !important;
    }
    .left { 
        border-left: none !important;
    }
    
    .right {
        border-right:none !important; 
    }
    #myVideo, .spotlight .image img {
        width: 100%;
    }

    #profile-image {
        width: 14em;
        margin: 0 auto; 
        margin-top: 4em;
    }
    #about-me {
        margin-top: 2em; 
    }

    .spotlight .content {
        margin: 0 auto;
        padding: 0;
    }
    /* #one {
        padding-top: 10vh!important; 
        padding-bottom: 2vh!important; 
    }
     */
}

@media screen and (max-width: 414px) {
    #profile-image {
        margin-top: 4em; 
        width: 14em;
    }
    .section-header, #portfolio {
        font-size: 1rem; 
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    #profile-image {
        margin-top: 4em;
        width: 10em; 
    }
}

@media screen and (max-width: 375px) {
    #profile-image {
        width: 10em;
        margin-top: 4em; 
    }
    .spotlight {
        margin: 10vh 10vw;
    }

    .spotlight .content {
        margin: 0 auto;
        margin-top: 2em;
       padding: 0; 
    }
    .wrapper {
        margin: 0;
    }

    #two {
        padding: 0;
        margin-bottom: 2em; 
    }

    #portfolio {
        width: 100%;
        margin-bottom: 0;
    
    }

    #two h2 {
        border-bottom: 1px solid black; 
        padding-bottom: .5em; 
        padding-top: 1.5em;
        margin: 0;
        font-weight: bold;
        color: black;
        font-size: 1.1em; 
        text-align: left; 
        letter-spacing: 1px; 
    }

    #two .spotlight .content p {
        padding-top: 1em;
        line-height: 1.5; 
        font-size: .8em; 
        margin: 0;
    }

    #contact {
        max-width: 260px;
    }
    #banner {
        height: 100vh; 
    }
    #header h1 a {
        text-align: center;
        padding: 0;
    }

    #banner p {
        padding-top: 3em; 
    }

}

@media screen and (max-width: 200px) {
    #profile-image {
        margin: 0 auto; 
        margin-top: 4em;
    }
}


.box-contact {
    display: flex;
  }

  .left-contact {
    flex: 1 1 0;
  }

  .right-contact {
    flex: 2 1 0;
  }
 